<h2 class="content">Product List</h2>
<div class="content">
  <a class="btn" href="/product/new">Add Product</a>
  <h1></h1>
</div>
<table class="scrollable">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Brand Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr>
      <td>
          <%=  product.pName %>
      </td>
      <td>
        <%= product.pBrand %>
      </td>
      <td>
        <%= product.pDescription %>
      </td>
      <td>
        <a href="<%=`product/${product._id}/edit`%>"><i class="far fa-edit"></i></a>
      </td>
      <td>
       <a href="<%= `product/${product._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this product?')" ><i class="far fa-trash-alt"></i></a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
